* {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  color: #2c2c2c;
  box-sizing: border-box;
}

form {
  margin-bottom: 20px;

}
input {
  width: 100%;
}
li {
  background-color: rgb(236, 236, 236);
  text-decoration: none;
  list-style: none;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.center {
    text-align: center;
}
button {
  border: none;
  background: none;
}
li button {
  margin-left: 10px;
  background-color: tomato;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
}

#app {
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  max-width: 300px;
  width: 100%;
}
